html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

/* added css */

/* fighter info */
#fighter-info-modal {
    z-index: 3;
    position: absolute;
    background-color: rgba(179, 231, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    box-shadow: 5px 5px 10px rgba(0, 100, 100, 0.3);
    display: none;
  }

  .fighter-info-image {
    height: 300px;
    margin: 20px;
    max-height: 360px;
  }

  .fighter-info-view {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .fighter-input-container {
    display: flex;
    margin: 15px 5px;
    font-size: 20px;
    align-items: center;
  }

  .fighter-update-container {
    flex-grow: 1;
    text-align: center;
  }

  .fighter-name {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 5px;
  }

  .fighter-input-label {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-right: 5px;
  }
  
  .fighter-input-container input {
    flex-grow: 0;
    width: 60%;
    padding: 5px;
    font-size: 1.1em;
    line-height: 20px;
  }

  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .fighter-update-btn {
    font-size: 20px;
    position: absolute;
    bottom: 40px;
  }

  /* menu */

  .menu
{
    text-align: center;
    display: flex;
    margin-bottom: 7%;
}
.menu select
{
    margin: 1em 0 1em 0;
    padding-left: 0.5em;
    font-size: 1.1em;
}

.menu .vs-element,
.menu button
{
  margin: 1.3em;
  align-self: center;
}

button 
{
    border-radius: 2px black;
    background-color: rgba(0, 131, 11, 0.623);
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;

    margin: 5px;
    width: 100%;
}

button:hover
{
  box-shadow: 5px 5px 10px rgba(0, 100, 100, 0.4);
}

/* fight */
.fight .fighters,
.fight
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
    text-align: center;
}
.fight > span
{
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
}

.fight .fighter 
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.fight .name 
{
    align-self: center;
    font-size: 1.3em;
    margin-top: 20px;
}

.fight .fighter-atack,
.fight .fighter-defense 
{
    align-self: center;
    font-size: 1.1em;
    margin-top: 00px;
}

.fight .fighter-image 
{
    height: 35%;
}

.progress 
{
    width: 100%;
    background-color: rgb(161, 114, 114);
}
  
.bar 
{
    height: 20px;
    background-color: rgb(29, 202, 29);
}

